{% extends 'profile/base.html' %}
{% load static %}
{% block title %} Settings {% endblock title %}
{% block profile-settings %} active1 {% endblock profile-settings %}

{% block profile-body %}
    <div class="container my-4">
        <h1 class="text-center">Settings</h1>
        <br>
        <br><br><br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br><br>
    <br><br>
                    <br>
                    <br><br>
    </div>
    <br>

{% endblock profile-body %}