{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Show Books</title>#}
{#    <style>#}
{#        img{#}
{#            height: 50px;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <h1>Show Books</h1>#}
{#    {% for book in books %}#}
{#    <table border="1px">#}
{#        <tr>#}
{#            <td>{{ book.title }}</td>#}
{#            <td>{{ book.price }}</td>#}
{#            <td>{{ book.author }}</td>#}
{#            <td>{{ book.desc }}</td>#}
{#            {% if book.img %}#}
{#            <td><img src="{{ book.img.url }}" alt=""></td>#}
{#            {% else %}#}
{#            <td>No image</td>#}
{#            {% endif %}#}
{#        </tr>#}
{#    </table>#}
{#    {% endfor %}#}
{#</body>#}
{#</html>#}

{% extends 'book/base.html' %}
{% load static %}
{% block title %} My Books {% endblock %}
{% block css-link %}

{% endblock css-link %}
{% block mybooks %} active {% endblock mybooks %}
{% block current %}Edit Book {% endblock current %}

{% block body %}
    <!-- Search book  Start-->
    <div class="container my-3  my-books">
        <h1 class="text-center">My Books</h1>
        <div class="row my-3">
            {% for book in books %}
                <div class="col-md-4 ">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ book.img.url }}" alt="" class="card-img-top">

                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">
                                {{ book.desc }} <br>
                                <strong>-{{ book.author }}</strong>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                    </a>
                                    <a href="{% url 'editbook' %}?id={{ book.id }}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </a>
                                </div>
                                <small class="text-muted"><b>₹ {{ book.price }}</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

    <!-- Search book  end-->




{% endblock body %}

